* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    display: block;
    width: 100%;
    background: #a9a3ad;
}

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100b13;
}

@font-face {
    font-family: 'NerdFont';
    src: url('../fonts/NerdFont.ttf');
}