@font-face {
  font-family: 'hacka';
  src: url("/fonts/hacka.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background: #000000;
  font-family: 'hacka', sans-serif;
  color: #00ff00; }

nav {
  width: 100%; }
  nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap; }
    nav ul li a {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem 2rem;
      display: inline-block; }
      nav ul li a:hover {
        background: #00ff00;
        color: #000000; }

main {
  padding: 50px; }
  main h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px 0; }
  main h5 {
    font-size: 1.5rem;
    text-align: center; }
  main h2 {
    font-size: 2rem;
    text-align: left;
    margin: 20px 0; }
  main .articles {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; }
    main .articles .article {
      border: 1px solid #00ff00;
      padding: 20px;
      display: flex;
      flex-direction: column; }
      main .articles .article h3 {
        font-size: 1.5rem;
        text-align: left;
        padding: 20px 50px 20px 0;
        border-bottom: 1px solid #00ff00; }
      main .articles .article p {
        font-size: 1rem;
        text-align: left;
        margin: 20px 0; }
      main .articles .article a {
        background: #00ff00;
        color: #000000;
        padding: 10px 20px; }
  main .guides {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; }
    main .guides .guide {
      border: 1px solid #00ff00;
      padding: 20px;
      display: flex;
      flex-direction: column; }
      main .guides .guide h3 {
        font-size: 1.5rem;
        text-align: left;
        padding: 20px 50px 20px 0;
        border-bottom: 1px solid #00ff00; }
      main .guides .guide p {
        font-size: 1rem;
        text-align: left;
        margin: 20px 0; }
      main .guides .guide a {
        background: #00ff00;
        color: #000000;
        padding: 10px 20px; }
  main .guide-description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem; }
    main .guide-description a {
      color: #000000;
      background-color: #00ff00; }
  main .decrypter #message {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00ff00;
    background-color: #000000;
    color: #00ff00;
    outline: none; }
    main .decrypter #message:focus {
      border: 1px solid #00ff00; }
  main .decrypter button {
    background: #00ff00;
    color: #000000;
    padding: 10px 20px;
    border: none;
    font-size: 1.5rem;
    margin: 10px 0; }
  main .decrypter #result {
    width: 100%;
    height: 200px;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace; }
  main .about {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem; }
